# nice document on this
# https://www.cyberciti.biz/faq/create-ssh-config-file-on-linux-unix/
# add the content of this file at the end of your ~/.ssh/config file.

Host *
  StrictHostKeyChecking no

Host lap-macmini
  HostName 192.168.2.13
  User masum
  IdentityFile ~/.ssh/id_ed25519
# this will prevent following error
# Warning: Permanently added '' (ED25519) to the list of known hosts.
  StrictHostKeyChecking accept-new
  UserKnownHostsFile ~/.ssh/known_hosts

Host cloud-ubu
  HostName 86.50.228.36
  User masum
  IdentityFile ~/.ssh/id_ed25519
# this will prevent following error
# Warning: Permanently added '' (ED25519) to the list of known hosts.
  StrictHostKeyChecking accept-new
  UserKnownHostsFile ~/.ssh/known_hosts

Host sys*dev1
  HostName %h
  User masum
  IdentityFile ~/.ssh/id_ed25519
  ProxyJump lap-macmini
  StrictHostKeyChecking no

Host sys*dev6
  HostName %h
  User masum
  IdentityFile ~/.ssh/id_ed25519
  ProxyJump cloud-ubu
  StrictHostKeyChecking no
